.ipynb_checkpoints
.RHistory
.RData
.DS_Store

final_project/data/unprocessed/*

final_project/data/processed/*
!final_project/data/processed/combined.csv
!final_project/data/processed/vaers_codebook.txt
